#chart_title {
    text-anchor: middle;
    fill: whitesmoke;
    font-family: sans-serif;
    font-size: 20pt;
}

.axis_label {
    text-anchor: middle;
    font-family: sans-serif;
    fill: seashell;
    font-size: 16pt;
}

.bar_label, .circle_label {
    text-anchor: middle;
    font-family: monospace;
    fill: seashell
}

.legend text {
    font-family: monospace;
    fill: seashell
}

body {
    /* background-color: rgb(72, 73, 101); */
    background-color: rgb(34, 34, 34);
}

.x_axis text, .y_axis text{
    font-size: 10px;
    font-family: monospace;
    fill: whitesmoke;
}

.x_axis path, .x_axis line,
.y_axis path, .y_axis line {
    fill: none;
    stroke: whitesmoke;
    shape-rendering: crispEdges;
}